<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="../../../../assets/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../../../../assets/css/mahpsa.css">

</head>
<body>
<div class="container-fluid headerfondonos">
	<div class="container homelogo">

				<div class="col-md-2 fondoblanco">
					<img src="../../../../assets/img/logo-map.jpg" >
				</div>
				<div class="row">
					<div class="col-md-2 fondoceleste ">
						(01)717-4040
					</div>
					<div class="col-md-6 fondoblanco2" style="width:50.8%;">
						¿Invierte con nosotros?
					</div>
					<div class="col-md-8" style="padding-left:0px;padding-right:0px;width: 67.5%;">
						<div class="navbar navbar-default">
							
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" >
	                                    <span class="sr-only">Toggle navigation</span>
	                                    <span class="icon-bar"></span>
	                                    <span class="icon-bar"></span>
	                                    <span class="icon-bar"></span>
	                                </button>
	                                <div id="navbar" class="navbar-collapse collapse" style="padding-right:0px;">
	                                    <ul class="nav nav-justified">
	                                        <li class="active menuhome " ><a class="" href="http://studiomanda.pe/cayman/">HOME</a></li>
	                                        <li class="menunosotros"><a class="" href="http://studiomanda.pe/cayman/nosotros">NOSOTROS</a></li>
	                                        <li class="menunuestros" style=""><a class="" href="http://studiomanda.pe/cayman/productos">NUESTRO SERVICIOS</a></li>
	                                        <!--<li><a href="http://studiomanda.pe/cayman/postventa">postventa</a></li>-->
	                                        <li class="menunecesitas"><a href="http://studiomanda.pe/cayman/distribuidores">¿QUE NECESITAS?</a></li>
	                                        <li class="menuvender"><a href="http://studiomanda.pe/cayman/contactenos">DESEAS VENDER TU INMUEBLE</a></li>
	                                        <li class=""><a href="http://studiomanda.pe/cayman/contactenos">CONTACTAR</a></li>
	                                    </ul>
	                                </div>
								</div>
							

						</div>	
					</div>
					<!--	<div class="col-md-8">
							<nav id="menu">
			                    <ul>
			                        <li><a href="#">INICIO</a></li>
			                        <li><a href="#">OPCIÓN1</a></li>
			                        <li><a href="#">OPCIÓN2</a></li>
			                        <li><a href="#">OPCIÓN3</a></li>
			                        <li><a href="#">CONTACTO</a></li>
			                    </ul>
			                </nav>
			             </div>
		             </div>
		         -->


				</div>
	</div>
</div>
<div class="container">
	<div class="row" style="padding-left:0px;margin-left:0px;padding-bottom:50px;">
		<div class="col-md-5" style="border-bottom: 3px solid #C1C3C5;margin-top:40px;margin-bottom:50px;font-size:33px;padding-left:0px;width:37%;">
						MAPA DE UBICACION
		</div>
		<div class="col-md-12" style="padding-left:0px;">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.769918833486!2d-77.00299749084677!3d-12.12788885025153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c7f8f1030285%3A0xa4a9931eb0f8097!2sAv+Tom%C3%A1s+Marsano+2875%2C+Lima+15038!5e0!3m2!1ses!2spe!4v1446672121311" width="1140" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
		<div class="col-md-6" style="padding-left:0px;padding-top:40px;">
			<img src="../../../../assets/img/datospropietario.png" class="img-responsive" style="padding-bottom:20px;" >
			<input class="form-control input-lg" type="text" placeholder="*NOMBRE" required style="margin-bottom:10px;">
			<input class="form-control input-lg" type="email" placeholder="*CELULAR" required style="margin-bottom:10px;">
			<input class="form-control input-lg" type="text" placeholder="*CORREO" required style="margin-bottom:10px;">
		</div>
		<div class="col-md-6" style="padding-top:105px;">
			<textarea class="form-control" rows="7" placeholder="COMENTARIOS"></textarea>
		</div>
		<div class="col-md-12" style="padding-top:20px;padding-bottom:100px;" >
			<img src="../../../../assets/img/enviar.png" style="position:absolute;left:1000px;width:140px;">
		</div>
	</div>
</div>

<div class="container-fluid proxproy">
			<div class="container">
				<div class="row" style="padding-left:0px;margin-left:0px;padding-bottom:50px;">
					<div class="col-md-12" style="border-bottom: 3px solid #C1C3C5;margin-top:40px;margin-bottom:10px;padding-left:0px;font-size:33px;width:98.5%;">
						PROXIMOS PROYECTOS
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row ">
					<div class="center-block">
						<div class="col-md-3">
							<img src="../../../../assets/img/proxproy4.png" class="img-responsive"  style="height:220px;">
							<div class="caption">
					          <h3>Titulo 1</h3>
					              <p>Donec nec justo eget felis facilisis fermentum. 
					               Aliquam porttitor mauris sit amet orci.</p>
					          <p>
					          <a href="#" class="btn btn-primary">Ver</a> 
					          <a href="#" class="btn btn-default">Descargar</a>
					          </p>
					      </div>
						</div>
						<div class="col-md-3">
							<img src="../../../../assets/img/proxpro3.png" class="img-responsive" style="height:220px;">
							<div class="caption">
					          <h3>Titulo 1</h3>
					              <p>Donec nec justo eget felis facilisis fermentum. 
					               Aliquam porttitor mauris sit amet orci.</p>
					          <p>
					          <a href="#" class="btn btn-primary">Ver</a> 
					          <a href="#" class="btn btn-default">Descargar</a>
					          </p>
					      </div>
						</div>
						<div class="col-md-3">
							<img src="../../../../assets/img/proxproy2.png" class="img-responsive" style="height:220px;">
							<div class="caption">
					          <h3>Titulo 1</h3>
					              <p>Donec nec justo eget felis facilisis fermentum. 
					               Aliquam porttitor mauris sit amet orci.</p>
					          <p>
					          <a href="#" class="btn btn-primary">Ver</a> 
					          <a href="#" class="btn btn-default">Descargar</a>
					          </p>
					      </div>
						</div>
						<div class="col-md-3">
							<img src="../../../../assets/img/proxproy4.png" class="img-responsive" style="height:220px;" >
							<div class="caption">
				          <h3>Titulo 1</h3>
				              <p>Donec nec justo eget felis facilisis fermentum. 
				               Aliquam porttitor mauris sit amet orci.</p>
				          <p>
				          <a href="#" class="btn btn-primary">Ver</a> 
				          <a href="#" class="btn btn-default">Descargar</a>
				          </p>
				      </div>
						</div>
					</div>
				</div>
				
			</div>
		</div>

	<footer>
		<div class="container-fluid fondofooter">
			<div class="container">
				<div class="row">
						<div class="col-md-4">
							<div class="footermaimagen">
							<img src="../../../../assets/img/LOGO-MAP-AZUL.png" class="img-responsive" style="padding: 0 50px">
							</div>
							<input class="form-control input-lg" type="text" placeholder="Nombre" style="margin-bottom:10px;">
							<input class="form-control input-lg" type="email" placeholder="Email" style="margin-bottom:10px;">
							<input class="form-control input-lg" type="text" placeholder="Mensaje" style="margin-bottom:10px;">
							<button type="button" class="btn btn-primary" style="margin-left:80%;">Enviar</button>
						</div>
						<div class="col-md-4">
							<div class="footercolor">SIGUENOS</div>
							<div style="padding-bottom:10px;">
							<span class="icon-facebook" style="color:#ffffff;padding-right:20px;"></span><span style="font-size:14px;color:#ffffff">facebook / MAHPSA</span><br>
							</div>
								<div style="padding-bottom:10px;">
							<span class="icon-twitter" style="color:#ffffff;padding-right:20px;"></span> <span style="font-size:14px;color:#ffffff">twitter / MAHPSA</span><br>
							</div>
							<div style="padding-bottom:10px;">
							<span class="icon-youtube" style="color:#ffffff;padding-right:20px;"></span> <span style="font-size:14px;color:#ffffff">youtube / MAHPSA</span><br>
							</div>
							<div style="padding-bottom:10px;">
							<span class="icon-google" style="color:#ffffff;padding-right:20px;"></span> <span style="font-size:14px;color:#ffffff">google / MAHPSA</span><br>
							</div>
						</div>
						<div class="col-md-4"></div>
						<div class="col-md-4"></div>
				</div>	
			</div>

		</div>

	</footer>

</body>
</html>