.facebook {
	width: 30px;
	height: 29px;
	background-repeat: no-repeat;
	display: block;
	background-image:url("../img/iconos/ico-facebook.jpg");
	background-position: top left;
}
.fondocelesfooter{
	background-color: #3E97C9;
}
.titulodetalle{
	padding: 20px;
	background-color: #E7E7E7;
	font-size:17px;margin-top:0px;padding-left:10px;color:#31ACD3;padding-top:10px;font-family:gotham_htfmedium;
}
.descripciondetalle{
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 160px;
	text-align:justify;font-size:12px;word-wrap: break-word;font-family:gotham_htf_lightregular;
}
.preciodetalle{
	margin-left: 0px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #194080;
	color:#ffffff;
	margin-bottom: 30px;
}
.mapaplanodetalle{
	margin-left: 20px;
	padding-bottom:118.5px;
}
.tamano{
	width: 82% !important;
	
}
.positioncombo{
	margin-top: -40px !important;
	margin-left: 180px !important;
	position: absolute !important;
}
.listado{
	width:182px !important;
	font-size: 10px !important;
	font-family: gotham_htf_lightregular !important;
}
.comb{
	font-size: 13px !important;
	font-family: gotham_htf_lightregular !important;	
	line-height:20px !important;
	height: 30px !important;
}
li.comb:hover{
	background-color:#1E90FF;
	color:#fff;
}
.facefooter{
	width: 30px;
	height: 29px;
	background-repeat: no-repeat;
	
	background-image:url("../img/iconos/ico-facebook.png");
	background-position: top left;
	display:inline-block;
}
.twitter {
	width: 30px;
	height: 29px;
	background-repeat: no-repeat;
	display: block;
	background-image:url("../img/iconos/ico-twitter.jpg");
	background-position: top left;
}
.twitterfooter{
	width: 30px;
	height: 29px;
	background-repeat: no-repeat;
	display: inline-block;
	background-image:url("../img/iconos/ico-twitter.png");
	background-position: top left;
}
.youtube {
	width: 30px;
	height: 29px;
	background-repeat: no-repeat;
	display: block;
	background-image:url("../img/iconos/ico-youtube.jpg");
	background-position: top left;
}
.youtubefooter{
	width: 30px;
	height: 29px;
	background-repeat: no-repeat;
	display: inline-block;
	background-image:url("../img/iconos/ico-youtube.png");
	background-position: top left;
}
.google{
	width: 30px;
	height: 29px;
	background-repeat: no-repeat;
	display: block;
	background-image:url("../img/iconos/ico-google.jpg");
	background-position: top left;
}
.googlefooter{
	width: 30px;
	height: 29px;
	background-repeat: no-repeat;
	display: inline-block;
	background-image:url("../img/iconos/ico-google.png");
	background-position: top left;
}
a.facebook:hover, a.facefooter:hover, a.twitter:hover, a.twitterfooter:hover, a.youtube:hover, a.youtubefooter:hover,a.google:hover, a.googlefooter:hover {
	background-position: bottom left;
}
.pagi ul li{
	display: inline-block;
}

.pagi ul li a.old{
	background-position: 0 0;
	width: 44.5px;
}
.pagi ul li a.old:hover{
	background-position: 0 -42.5px;
	width: 44.5px;
}
.pagi ul li a.next{
	background-position: -43px 0;
	width: 44.5px;
}
.pagi ul li a.next:hover{
	background-position: -42.5px -42.5px;
	width: 44.5px;
}

.pagi ul li a{
	background-image: url("../img/Mahpsa-botones-flechas.jpg");
	background-repeat: no-repeat;
	display: inline-block;
	height: 42.5px;
	transition: all 0.2s ease-in-out 0s ;
	-webkit-transition: all 0.2s ease-in-out 0s;
}


.linkfo{
	margin-right: 100px !important;
}

/* #navbar .nav-justified li .dropdown-menu li a:hover,
 #navbar .nav-justified li .dropdown-menu li a:focus{
    background-color: #e8ae00 !important;
    font-weight: 700;
}*/

#redes ul{
	list-style-type: none;

}
#redes li{
	display: inline-block;
}

.nopadding{
	padding-right: 0px;
	padding-left: 0px;
}
.imagenhome{
	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
.homelogo{
	position: absolute;
	 top: 30px;
	 margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
	padding-left: 0px;
	padding-right: 0px;
	z-index: 9999;
	 /*left: 50%;
 
 margin: 0px 0 0 -520px;
 */

}
.centrarimgnosotros{
	margin: 0 auto;
}
.fondoblanco{
	background: #ffffff;
	padding-left: 55px;
	padding-right: 55px;
	padding-top: 0px;
	padding-bottom:2px;
	width: auto;

}
.f-nav{
	position: fixed !important;
	z-index: 9999;
	top:0 !important;
	left: 0 !important;
	right: 0 !important;
	
	height: 174px;
}
.f-nav2{
	position: fixed !important;
	z-index: 9999 !important;
	top:30 !important;
	left: 0 !important;
	right: 0 !important;
	
	height: 174px;
}
.margendizquierdo{
	border-left: 1px solid #C1C3C5;
	padding-left: 10px;
}
.margenderecho{
	border-right: 1px solid #C1C3C5;
	padding-right: 10px;
	padding-left: 10px;
	color:#929AA2;
}
.fondoblanco2{
	background: #ffffff;
	padding-top: 25px;
	text-align: right;
	padding-bottom: 0px;
	height: 65px;
}
.fondoblanco3{
	background: #ffffff;
	padding-top: 25px;
	
	padding-bottom: 0px;
	height: 65px;
	text-align: left;
	border-left: 
}
.fondo{
	
	background-size: cover;
	background-position: 50% 30%;
	width: 100%;
	background-repeat: no-repeat;
}
.fondoceleste{
	background: #3E97C9;
	padding-top: 20px;
	padding-right: 25px;
	padding-bottom: 32px;
	color:#ffffff;
	text-align: center;
	font-size: 21px;
	height: 65px !important;

}
.bordermenu{
	border-right: 1px solid #ffffff;
	width: 1px;
	height: 50px;
	float: right;
	margin-top: -19px;

}
.nax{
	text-align:right;padding-right:0;float:right;font-size:18px;margin-top:-13px;
}
/*
:-webkit-input-placeholder { color: #8A8A8A; } /* WebKit */
/* individual: webkit */
	#nombre::-webkit-input-placeholder { color: #8A8A8A; }
	#mensaje::-webkit-input-placeholder { color: #8A8A8A; }
	#email::-webkit-input-placeholder { color: #8A8A8A; }
	
	#cnombre::-webkit-input-placeholder { color: #333333;font-family: 'gotham_htf_lightregular'; }
	#ccelular::-webkit-input-placeholder { color: #333333;font-family: 'gotham_htf_lightregular'; }
	#ccorreo::-webkit-input-placeholder { color: #333333;font-family: 'gotham_htf_lightregular'; }
	#ccomentarios::-webkit-input-placeholder { color: #333333;font-family: 'gotham_htf_lightregular'; }
	.corredor::-webkit-input-placeholder { color: #555;font-family: 'gotham_htf_lightregular'; }
	.tipopropiedad::-webkit-input-placeholder { color: #555;font-family: 'gotham_htf_lightregular'; }
	.desgravamen::-webkit-input-placeholder { color: #555;font-family: 'gotham_htf_lightregular'; }
	.comentario::-webkit-input-placeholder { color: #555;font-family: 'gotham_htf_lightregular'; }
	.operacion::-webkit-input-placeholder { color: #555;font-family: 'gotham_htf_lightregular'; }
	.moneda::-webkit-input-placeholder { color: #555;font-family: 'gotham_htf_lightregular'; }
	.preciox::-webkit-input-placeholder { color: #555;font-family: 'gotham_htf_lightregular'; }
.fondonav{
	background: #D7DFE6;
}
.menuancho{
	padding: 7.5px;
}
.bienvenidos{
	padding-top: 70px;
	color: #4A525E;
	font-size: 50px;
}
.bienvenidos2{
	font-size: 32px;
	padding-bottom: 20px;
}
.proxproy{
	/*background-color: #D7D9D9;*/
	background-image: url("../img/trama.jpg");
	padding-bottom: 70px;

}
.centerx{
	margin: 0 auto;
}
.lineacenter{
	text-align: center;
	padding-bottom: 90px;
}

#menu ul{
	list-style-type: none;
   
}

#navbar{
	padding-left: 0px;
}

#menu li{
	 display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}
#navbar li a{
	 padding: 0 0px 0;
   color: #666;
   background-color: #D7DFE6;
   /*border: 1px solid #ccc;*/
   text-decoration: none;
   height: 70px;
   font-size: 11px;
   text-align: center;
   padding-top: 30px;
}
#navbar li a:hover, #navbar li.active a{
	 background-color: #194080;
   color: #ffffff;
}

#navbar .dropdown-menu li a{
	background-color: #D7DFE6 !important;
	color: #666;
}

#navbar .dropdown-menu li a:hover{
	background-color: #194080 !important;
	color: #ffffff;
}
  	 


#navbar li:hover ul.dropdown-menu{
        display: block; /* Display the dropdown */
        

    }
    #navbar  li ul.dropdown-menu li{
        display: block;
    }

.menunuestros{
	
	width: 2.3% !important;
}
.menuhome{
	width: 1.1% !important;
}
.menunosotros{
	width: 1.3% !important;	
}
.menupc{
	/*width: auto !important; */
	/*padding-top: 25px;*/	
}
.menuvender{
	width: 3.5% !important;
}
.menunecesitas{
	width: 1.5% !important;
}

.fondofooter{
	background-image: url("../img/Mahpsa-banner-footer.jpg");
}

.footermaimagen{
	padding-top: 30px;
}
.footercolor{
	font-size: 18px;
	color:#ffffff;
	padding-top: 30px;
	padding-bottom: 70px;
}


/*ICONOS*/

@font-face {
	font-family: 'icomoon';
	src:url('../../assets/fonts/icomoon.eot?feci2k');
	src:url('../../assets/fonts/icomoon.eot?feci2k#iefix') format('embedded-opentype'),
		url('../../assets/fonts/icomoon.ttf?feci2k') format('truetype'),
		url('../../assets/fonts/icomoon.woff?feci2k') format('woff'),
		url('../../assets/fonts/icomoon.svg?feci2k#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-phone-hang-up:before {
	content: "\e900";
}
.icon-envelop:before {
	content: "\e901";
}
.icon-location:before {
	content: "\e902";
}
.icon-meter:before {
	content: "\e903";
}
.icon-google:before {
	content: "\e904";
}
.icon-facebook:before {
	content: "\e905";
}
.icon-twitter:before {
	content: "\e906";
}
.icon-youtube:before {
	content: "\e907";
}
.icon-forrst:before {
	content: "\e908";
}


.tituloheader{
	padding-top:50px;font-family:gotham_htfmedium;font-size:42.45px;color:#ffffff;
}
.ocultar{
	display: none;
}
.mostrar{
	display: block;
}

/**NOSOTROS*/
.headerfondonos{
	/*background-color: #3E97C9;*/
	background-image: url("../img/Mahpsa-banner-footer.jpg");
	height: 350px ;
}
.fondonosotros2{
	background-color: #D4D5D5;
	text-align: justify;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 70px;
}
.imagennosotros{
	padding-bottom: 100px;
}

/*HOME SLIDER*/

 /*.fondoultiproy:hover {
	
 
  background-color: rgb(25,64,128); opacity:0.5;

  }*/

  .red {
    background-color: red;
}
.fondot{
	top: 0px !important;
}
.fondottop{
	top: 222px !important; 
}
 .textox{
 	position:absolute;
 	 /*left:80px; */
 	top:100px; 
 	color:#ffffff;
 	width: 295px;
 	height: 220px;
 	font-family:'gotham_htfbold';
 	font-size:21.72px;
 	
 	padding-top: 70px;
 	
 	padding-right: 20px;
 	padding-left: 10px;
 	background-color: #335282;
 	opacity:0.7;
 	text-align: center;


 }
 .borderfooter{
 	padding: 10px;
 	border: 1px solid;
 }

 .detalle{
 	visibility: hidden;
 }

 a.imagef{
 	 display: block;
    overflow: hidden;
 }

/*.fondoultiproy:hover .textox {
	opacity: 1;
	 
	visibility: visible;

	
}*/
.fondoultiproy:hover  .detalle{
	visibility: visible;
	

}

.vermas{
	width: 120px;
	height: 44px;
	background-repeat:no-repeat;
	display: block;
	background-image:url("../img/VER-MAS.jpg");
	background-position:top left;

}
.vermasen{
	width: 120px;
	height: 44px;
	background-repeat:no-repeat;
	display: block;
	background-image:url("../img/SEE-MORE.jpg");
	background-position:top left;

}
.masproyectos{
	width: 297px;
	height: 60px;
	background-repeat:no-repeat;
	display: block;
	background-image:url("../img/VER-MAS-PROYECTOS.jpg");
	background-position:top left;
}

.masproyectosen{
	width: 297px;
	height: 60px;
	background-repeat:no-repeat;
	display: block;
	background-image:url("../img/MORE-PROJECTS.jpg");
	background-position:top left;
}

.anterior{
	width: 120px;
	height: 45.5px;
	background-repeat:no-repeat;
	display: block;
	background-image:url("../img/BOTON-ANTERIOR.jpg");
	background-position:top left;	
}

.siguiente{
	width: 120px;
	height: 45.5px;
	background-repeat:no-repeat;
	display: block;
	background-image:url("../img/BOTON-SIGUIENTE.jpg");
	background-position:top left;		
}

.anterioren{
	width: 120px;
	height: 45.5px;
	background-repeat:no-repeat;
	display: block;
	background-image:url("../img/PREVIOUS.jpg");
	background-position:top left;	
}

.siguienteen{
	width: 120px;
	height: 45.5px;
	background-repeat:no-repeat;
	display: block;
	background-image:url("../img/NEXT.jpg");
	background-position:top left;		
}

.buscar{
	width: 272px;
	height: 220px;
	background-repeat:no-repeat;
	display: block;
	background-image:url("../img/BOTON-BUSQUEDA.jpg");
	background-position:top left;

}

.buscaren{
	width: 272px;
	height: 220px;
	background-repeat:no-repeat;
	display: block;
	background-image:url("../img/Search-your-property.jpg");
	background-position:top left;

}
.lupa{

}
.enviar{
	width: 200px;
	height: 89.5px;
	background-repeat:no-repeat;
	display: block;
	background-image:url("../img/ENVIAR.jpg"); 
	background-position:top left;
	
}
.enviaren{
	width: 200px;
	height: 89.5px;
	background-repeat:no-repeat;
	display: block;
	background-image:url("../img/SEND.jpg");
	background-position:top left;
	
}
.busqueda{
	font-size: 13px !important;
	font-family: gotham_htf_lightregular !important; 
}
.contactarjp{
	width: 1.7% !important;
}

a.ingles:hover{
	color:#3E97C9;
	text-decoration: none;
}

a.invierte{
	color:#929AA2;
}

a.invierte:hover{
	color:#3E97C9;
	text-decoration: none;
}

a.espanol:hover{
	color:#3E97C9;
	text-decoration: none;
}

a.ingles{
	color:#929AA2;
}

a.espanol{
	color:#929AA2;
}


a.vermas:hover, a.enviar:hover, a.buscar:hover, a.masproyectos:hover, a.anterior:hover, a.siguiente:hover, a.masproyectosen:hover, a.vermasen:hover, a.buscaren:hover,
a.enviaren:hover, a.enviaren:hover, a.anterioren:hover, a.siguienteen:hover{
	background-position: bottom left;
}

.enviar:hover{
background-position: bottom left;	
}

.enviaren:hover{
background-position: bottom left;	
}



/*ULTIMOS PROYECTOS FOOTER*/

/*FOOTER*/
.subrafooter:hover{
	cursor:pointer;
	text-decoration: underline;
}
.footerdireccion{
	font-family:gotham_htf_lightregular;font-size:10px;color:#ffffff;padding-left:5px;background-color:#004384;padding-bottom:9px;padding-top:15px;
	position: absolute;margin-top: -9px;padding-top: 12px;padding-bottom: 9px;
}
.footertelefono{
	font-family:gotham_htf_lightregular;font-size:11px;color:#ffffff;padding-left:5px;background-color:#004384;padding-bottom:9px;padding-top:14px;
	position: absolute;margin-top: -9px;padding-top: 12px;padding-bottom: 8px;
}
.footercorreo{
	font-family:gotham_htf_lightregular;font-size:11px;color:#ffffff;padding-left:5px;background-color:#004384;padding-bottom:9px;padding-top:14px;
	position: absolute;margin-top: -9px;padding-top: 10px;padding-bottom: 10px;
}

/*NECESITAS SU INMUEBLE*/
.busquedaheader{
	
	
}
.busquedaheader2{
	background-color: #3E97C9;
}
.busquedaheader3{
	background-color: #D4D5D5;
}

.resultado{
	background-color: #606060;
}

.paginacion_re ul li{
	display: inline-block;
}
.paginacion_re ul li a{
	padding: 10px 10px;
}

.result_detalle ul li{
	display: table-cell;	
}
#detalle_result li {
	background-color: #E7E7E7;
	padding: 7px;
	padding-bottom: 13px;
}

.logores{
	width:220px;
}

.footerproximos{
	border-bottom: 3px solid #C1C3C5;margin-top:40px;margin-bottom:10px;padding-left:0px;font-size:33px;width:98.5%;color:#606060;font-family:gotham_htf_lightregular;padding-right:0px;padding-bottom:30px;
}
.an{
	padding-right:20px;padding-top:10px;
}
.espacio{
	padding-bottom: 0px;
}
.footerimg{
		padding: 0 50px !important;
	}
.nosotrosresponsive{
		width:20% !important;padding:2px !important;
	}
.nuestroservi{
		padding-bottom:50px;
	}
.parrafoservicio{
	text-align:justify;padding-bottom:70px;font-family:gotham_htf_lightregular;font-size:14px;color:#646363;height:200px;
}
.imagenservicio{
	margin:0 auto;padding-top:100px;
}
.paddingnecesita{
	padding-bottom: 12.5px;
}
.container3{
		padding-top:40px;padding-left:0px;padding-bottom:20px;
	}
.porce{
	width: 19%;
}
.textofiltro{
	border-bottom: 3px solid #C1C3C5;margin-top:40px;margin-bottom:30px;padding-left:10px;font-size:27px;width:100%;color:#606060;font-family:gotham_htf_lightregular;
}
.filtros{
	padding-left:10px;padding-top:14px;padding-bottom:14px;color:#ffffff;
}
.as{
	margin-top:-13px;
}
.con{
	border-bottom: 3px solid #C1C3C5;margin-top:40px;margin-bottom:50px;font-size:33px;padding-left:0px;width:37%;font-family:gotham_htf_lightregular;
}
.enviarco{
		position:absolute; left:1070px;border:0 solid red;
	}

.forcon{
		padding-top:110px;
		

	}
.det1{
	padding-left:20px; padding-right:0px;
}
.det2{
	padding-right:0px; padding-left:0px;
}
.det3{
	list-style:none;padding-left:0px;margin-bottom:0px;text-align:center;font-family:gotham_htf_lightregular;
}
.det4{
	padding:13px;border-right:1px solid #ffffff;width:155px;
}
.det5{
	padding:13px;border-right:1px solid #ffffff;width:155px;
}
.det6{
	padding:13px;border-right:1px solid #ffffff;width:165px;
}
/* ~~~~~~~~~~~~~~~~~
3. NAVBAR
~~~~~~~~~~~~~~~~~ */


.navbar-header li a{
	text-transform: uppercase;
	height:45px;
}
.copy{
	color:#ffffff;padding-top:30px;padding-bottom:30px;font-family:gotham_htf_lightregular;
}

.footera{
		padding-left:50px;
	}
@media (max-width: 1007px) {
	.positioncombo{
		margin-left: 235px !important;
	}
	.listado{
		width: 235px !important;
	}
 	.homelogo{
 		position: inherit;
 		margin-top: -30px;
 		z-index: inherit;
 		background-color: #ffffff;
 	}
 	.mapaplanodetalle{
 		padding-bottom: 60px !important;
 	}
 	#detalle_result li{
 		width: 20%;
 	}
 	#wowslider-container1 .ws_controls, #wowslider-container1 .ws_bullets, #wowslider-container1 .ws_thumbs{
 		display: block !important;
 	}
 	.headerfondonos2{
 		height: inherit;
 	}
 	.bottomnosotros{
 		padding-bottom: 40px !important;
 	}
 	.nax{
	text-align:center !important;
	padding: 20px;
	}
 	.det1{
 		padding-left: 0px;
 	}
 	.jp{
 		padding-left: 0px;
 		margin-top: 20px !important;
 	}
 	.det4{
 		width: inherit;
 	}
 	.det5{
 		width: inherit;
 		padding: 0px !important;
 	}
 	.det6{
 		width: inherit;
 		padding: 0px !important;
 	}
 	.logores{
 		width: 170px !important;
 	}
 	.nav-justified > li > a{
 		text-align: center !important;

 	}
 	.navbar-header li a{
 		margin:0;
 	}
 	.menuhome, .menunosotros, .menunuestros, .menunecesitas{
 		width: inherit !important;
 	}
 	.nav-justified{
 		overflow: hidden;
 	}
 	.fondoblanco{
 		padding-left: 10px;
 		width: 58% !important;
 	}
 	.fondoceleste{
 		padding-top: 20px !important;
 		font-size: 10px;
 		height: 70px !important;
 		text-align: inherit;
 		padding-right:0px;
 	}
 	.responsive{
 		margin-top: 40px !important;
 	}
 	.bienvenidos{
 		font-size: 22px !important;
 	}
 	.bienvenidos2{
 		font-size: 22px !important;
 	}
 	.footerproximos{
 		font-size: 24px !important;
 		padding-bottom:10px !important;
 	}
 	.an{
		padding-right:20px;padding-top:20px;
	}
	.footerproy{
		padding-left:0px !important;
	}
	.espacio{
	padding-bottom: 20px;
	}
	.proxproy{
		padding-bottom: 0px !important;
	}
	.footerimg{
		padding-left:0px !important;
	}
	.tituloheader{
		text-align: center;
		padding-top:100px;
	}
	.tituloheaderen{
		text-align: center;
		font-family:gotham_htfmedium;font-size:35.45px;color:#ffffff;
		padding-top:100px;
	}
	.contacheader{
		padding-top:110px;
		text-align: center;
		font-family:gotham_htfmedium;font-size:35.45px;color:#ffffff;
	}
	.necesitaheader{
		padding-top:85px;
		text-align: center;
		font-family:gotham_htfmedium;font-size:35.45px;color:#ffffff;	
	}
	.nuestrosheader{
		padding-top:75px;
		text-align: center;
		font-family:gotham_htfmedium;font-size:42.45px;color:#ffffff;
	}
	.imagennosotros{
		padding-bottom: 0px;
	}
	.nosotrosresponsive{
		width:inherit !important;
		padding:10px !important;
		margin-right: 0px;
	}
	.imagenjp{
		margin-right: 0px;
		margin: 0 auto;
	}
	.nuestroservi{
		padding-bottom:0px;
	}

	.parrafoservicio{
		padding-bottom: 0px;
		height:70px;
	}
	.parrafoservicio2{
		height: 210px !important;

	}
	.parrafoservicio3{
		height: 130px !important;
	}
	.nuestrovermas2{
		padding-bottom: 20px;
	}
	.nuestrovermas{
		padding-bottom: 50px;
	}
	.imagenservicio{
	margin:0 auto;padding-top:0px;
}
	.topser{
		padding-top: 50px;
	}

	.paddingnecesita{
	padding-bottom: 0px !important;
	padding-right: 0px;
	}
	.container3{
		padding-top:40px;padding-left:0px;padding-bottom:20px;
		margin-left: 20px; margin-right: 20px;
	}
	.busquedaheader2{
		margin-left:-51px !important;
	
	}
	.busquedaheader{
		margin-left:10px;
	}
	.botonbuscar{
		padding-top: 20px;
	}
	.buscar{
		margin:0 auto;
	}
	.porce{
		width: inherit;
	}
	.textofiltro{
		padding-left: 0px;
		margin-left: 20px;
		padding-bottom:20px;
		margin-right: 20px;
		width: inherit;
	}
	.filtros{
		padding-left: 20px;
		padding-right: 20px;
	}
	.as{
	padding-top: 20px;}
	.ne{
		padding-left:10px;

	}
	.ul{
		padding: 5px;
	}
	.resul{
	padding-top: 10px;
	}
	.con{
		width: inherit;
		margin-right:20px;
	}	
	iframe{
		width:100%;
	}
	.mapaa{
		width:auto !important;
	}
	.enviarco{
		margin: 0 auto ;border:0 solid red ;
		left: 0;
		position: inherit;
	}
	.forcon{
		padding-top:0px;
		padding-left: 0px;

	}
	.navbar-default .navbar-collapse{
		border-color:transparent !important;
		position: relative;
		margin-top: 81px;

	}
	
	.navbar-header li{
		padding: 0 !important;
	}
	.navbar-header li{
		
		line-height:26px;
	}
	.nav-justified .open .dropdown-menu, .navbar-nav .open .dropdown-menu{
		text-align: center !important;
	}
	.espa{
		padding-top: 70px;
	}
	.esppr{
		padding-left: 5px;
	}
	.topee{
		padding-top:20px;
	}
	.footerdireccion{
		font-size:9.1px;
		padding-bottom:9px;
		padding-top: 14px;
	}
	.copy{
	color:#ffffff;padding-top:30px;padding-bottom:30px;font-family:gotham_htf_lightregular;text-align: center;
	}
	.footera{
		padding-left:10px;
	}
	.footercolor{
		padding-bottom: 50px;
	}

}

@media screen and (min-width: 2015px) and (max-width: 2045px) {
	.fondoblanco2{
		padding-bottom: 59px;
	}
	.fondoblanco3{
		padding-bottom: 39px !important;
	}
	.fondoceleste{
		padding-bottom: 32px !important;
	}
	#navbar li a{
		height: 71px !important;
	}
	.footerdireccion{
		padding-bottom: 10px;
	}
	.footertelefono{
		padding-bottom: 10px;
	}
	.footercorreo{
		padding-bottom: 10px;
	}


	
}

@media screen and (min-width: 1850px) and (max-width: 2010px) {
	.fondoceleste{
		padding-bottom: 31px !important;
	}
	.fondoblanco3{
		padding-bottom: 39px !important;
	}
	.textohome{
		width: 58% !important;
	}
	.tithome{
		width: 22% !important;
	}

}
@media screen and (min-width: 2046px) and (max-width: 2279px) {
	.fondoblanco3{
		padding-bottom: 40px !important;
	}
	#navbar li a{
		height: 71px !important;
	}
	.footerdireccion{
		padding-bottom: 10px;
	}
	.footertelefono{
		padding-top: 13px;
	}
	.footercorreo{
		padding-top: 11px;
	}
	.fondoceleste{
		padding-bottom: 32px !important;
	}
}

@media screen and (min-width: 2280px) and (max-width: 2500px) {
	.fondoblanco3{
		padding-bottom: 39px !important;
	}
	.fondoblanco2{
		padding-bottom: 59px !important;
	}
	.fondoceleste{
		padding-bottom: 32px !important;
	}
	#navbar li a{
		height: 72px !important;
	}
	.footerdireccion{
		padding-bottom: 8px;
	}
	.footertelefono{
		padding-top: 12px;
	}
	.footercorreo{
		padding-top: 10px;
	}
	.textohome{
		width: 52% !important;
	}
	.tithome{
		width: 22% !important;
	}
}
